.primary-btn {
  color: var(--primary-text-clr);
  font-size: 1.8rem;
  padding: .8rem 1rem;
  border-radius: .4rem;
  border: none;
  cursor: pointer;
  background: var(--secondary-bg-clr);
  transition: .1s;
  
  &:hover {
    background: var(--secondary-bg-clr-hover);
  }
}

.search-btn {
  cursor: pointer;
  outline: none;
  background: none;
  border: none;
}
