.hide {
    display: none !important;
}

.section-padding-top {
    padding-top: 1.4rem;
}

.section-padding-bottom {
    padding-bottom: 1.4rem;
}

.section-padding-top-bottom {
    padding-block: 1.4rem;
}