:root {
  /* --- Colors --- */
  --zero-black: #000000;
  --accent-clr: #efcd51;

  /* --- Backgrounds --- */
  --body-bg-clr: #1f1f1f;

  --primary-bg-clr: #3a3a3a;
  --primary-bg-clr-hover: #2a2a2a;
  --secondary-bg-clr: #474747;
  --secondary-bg-clr-hover: #595959;

  --primary-overlay-bg-clr: rgba(0, 0, 0, 0.6);
  --secondary-overlay-bg-clr: rgba(255, 255, 255, 0.05);

  --error-modal-bg-clr: #2a2a2a;

  /* --- Text --- */
  --primary-text-clr: #f5f5f5;
  --secondary-text-clr: #c6c6c6;
  --secondary-text-clr-hover: #e6e6e6;
  
  --faint-text-clr: #bdbdbd;
  
  /* --- Text gradient --- */
  --text-gradient-accent-clr: #9e7110;
  --text-gradient-base-clr: #999898;

  /* --- Icons --- */
  --icon-white: #d3d3d3;
  --icon-gray: #c8b5b5;
  --icon-peach: #d19c6e;
  --icon-pale: #eee8aa;
  --icon-yellow: #ffff00;
  --icon-orange: #ffd700;
  --icon-red: #ff0000;
  --icon-added: #6c1717;
  --icon-brown: #8b4513;
  --icon-teal: #60c5e7;
  --icon-turqoise: #20b2aa;
  --icon-violet: #5c81ef;
  --icon-blue: #3973ae;
  --icon-green: #008000;

  /* --- Buttons --- */
  /* Primary */
  --primary-btn-clr: #f5f5f5;
  --primary-btn-bg: #474747;
  --primary-btn-bg-hover: #595959;

  /* Outline */
  --primary-btn-outline: .1rem solid #d3d3d3;

  /* --- Animations --- */
  /* Cards, modals, buttons */
  --fade-ms: 100ms;

  /* --- Nav --- */
  --nav-component-height: 6.2rem;
  --dropdown-menu-height: calc(100vh - var(--nav-component-height));
  --dropdown-toggle-button-width: 3rem;

  /* Dropdown menu, Dropdown Toggle Button */
  --dropdown-ms: 400ms;
}

  /* --- Sizes --- */
  $max-width: 1440px;

  /* --- Breakpoints --- */
  $desktop: 1400px;
  $md-desktop: 1200px;
  $sm-desktop: 992px;
  $tablet: 768px;
  $mobile: 576px;


