:root {
  /* // Colors */
  --zero-black: #000000;
  --accent-clr: #efcd51;

  /* // Backgrounds */
  --body-bg-clr: #1f1f1f;

  --primary-bg-clr: #3a3a3a;
  --secondary-bg-clr: #474747;
  --secondary-bg-clr-hover: #595959;

  --primary-overlay-bg-clr: rgba(0, 0, 0, 0.6);
  --secondary-overlay-bg-clr: rgba(255, 255, 255, 0.05);

  /* // Text */
  --primary-text-clr: #f5f5f5;
  --secondary-text-clr: #c6c6c6;
  --secondary-text-clr-hover: #e6e6e6;
  
  --faint-text-clr: #bdbdbd;
  
  /* // Icons */
  --icon-white :#d3d3d3;
  --icon-gray :#c8b5b5;
  --icon-peach :#d19c6e;
  --icon-pale :#eee8aa;
  --icon-yellow :#ffff00;
  --icon-orange :#ffd700;
  --icon-red :#ff0000;
  --icon-brown :#8b4513;
  --icon-teal :#60c5e7;
  --icon-turqoise :#20b2aa;
  --icon-violet :#5c81ef;
  --icon-blue :#3973ae;
  --icon-green :#008000;
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: var(--body-bg-clr);
  color: var(--primary-text-clr);
}

a {
  text-decoration: none;
  color: var(--primary-text-clr);
  position: relative;
}

.grid-list {
  --w: 250px;
  --n: 7;
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(max(var(--w), 100%/(var(--n) + 1) + 0.1%),1fr));
  gap:10px;
  padding: 20px;
}

.status {
  text-align: center;
  position: fixed;
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background: var(--primary-overlay-bg-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
  transition: .1s;
}

.status-icon {
  font-size: 30px;
}

.status-text {
  display: inline-block;
  margin-top: 10px;
}

.poster-container {
  overflow: hidden;
  border-radius: 6px;
  position: relative;
}

.poster-container:hover::after {
  bottom: -100px;
}

.poster-container::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    to top,
    var(--zero-black),
    var(--secondary-overlay-bg-clr) 30%
  );
  pointer-events: none;
  transition: .1s ease-in-out;
}

.poster-link {
  width: 100%;
}

.poster-link:hover img {
  transform: scale(1.05);
}

/* firefox doesnt support :has, so we can not put it in the same selector list */
.card:has(.title:hover) img {
  transform: scale(1.05);
}

.poster-link img {
  transition: .1s ease-in-out;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  max-width: 400px;
  background: var(--primary-bg-clr);
  padding: 10px;
}

.card img {
  width: 100%;
  min-height: 450px;
  display: block;
  object-fit: cover;
}

.information {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;
}

.content {
  margin: 10px 0 16px;
}

a[target="_blank"]::after {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(70%, 30%);
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f14c";
  color: var(--accent-clr);
}

.title {
  font-size: 20px;
  display: inline-block;
  margin-bottom: 6px;
  color: var(--secondary-text-clr);
  transition: .1s ease-in-out;
}

.title:hover,
.poster-container:hover + .information .title {
  color: var(--secondary-text-clr-hover);
}

.calendar-icon, 
.year {
  font-size: 14px;
}

.logo-icon {
  font-size: 36px;
  color: var(--accent-clr);
}

.primary-btn {
  color: var(--primary-text-clr);
  font-size: 18px;
  padding: 8px 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background: var(--secondary-bg-clr);
  transition: .1s;
}

.primary-btn:hover {
  background: var(--secondary-bg-clr-hover);
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  margin-top: 24px;
}

.container:last-child {
  margin-bottom: 100px;
}

.details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ratings {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
}

.ratings > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 10px;
}

.ratings > div > div {
  margin-top: 6px;
}

.subtitle {
  font-size: 14px;
  color: var(--faint-text-clr);
}

.only-desktop {
  display: block;
}

@media only screen and (max-width: 767px) {
  .only-desktop {
    display: none;
  }
}
.only-mobile {
  display: none;
}

@media only screen and (max-width: 767px) {
  .only-mobile {
    display: block;
  }
}

.description {
  display: flex;
  gap: 16px;
  padding: 10px;
  border-radius: 8px;
  background: var(--primary-bg-clr);
}

@media only screen and (max-width: 767px) {
  .description {
    flex-direction: column;
  }
}

.description img {
  border-radius: 6px;
  object-fit: contain;
  align-self: flex-start;
}

.description ul {
  list-style-type: none;
  margin: 10px 0;
}

.description li {
  margin-bottom: 4px;
  font-size: 14px;
}

.plot {
  margin: 10px 0;
  line-height: 1.6;
}

.container i {
  padding-right: 4px;
}

/* Icons */
.fa-star {
  color: #ffff00;
}
.fa-apple-whole {
  color: #ff0000;
}

.fa-database {
color: #8b4513;
}

.fa-pen-nib {
color: #60c5e7;
}

.fa-video {
  color: #d3d3d3;
}

.fa-clapperboard {
  color: #c8b5b5;
}

.fa-pen-to-square {
  color: #20b2aa;
}

.fa-masks-theater {
  color: #d19c6e;
}

.fa-globe {
  color: #5c81ef;
}

.fa-flag {
  color: #eee8aa;
}

.fa-trophy  {
  color: #ffd700;
}

.fa-compact-disc {
  color: #3973ae;
}

.fa-sack-dollar {
  color: #008000;
}

/* .swiper {
  width: 400px;
  height: 300px;
}
.swiper-wrapper {
  display: flex;
  gap: 30px;
} */

.swiper-slide {
  height: auto;
}

.swiper .card .title {
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
}

.swiper-button.primary-btn {
  padding: 30px;
  border-radius: 18px;
  opacity: .8;
}

.swiper-button.primary-btn:hover,
.swiper-button.primary-btn:focus-visible {
  opacity: 1;
}

.swiper-button.primary-btn::after {
  font-size: 30px;
}