* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: rgb(31,31,31);
  color: whitesmoke;
}

a {
  text-decoration: none;
  color: whitesmoke;
  position: relative;
}

.container {
  --w: 250px;
  --n: 7;
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(max(var(--w), 100%/(var(--n) + 1) + 0.1%),1fr));
  gap:10px;
  padding: 20px;
}

.status {
  text-align: center;
  position: fixed;
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.status-icon {
  font-size: 30px;
}

.status-text {
  display: inline-block;
  margin-top: 10px;
}

.poster-container {
  overflow: hidden;
  border-radius: 6px;
  position: relative;
}

.poster-container:hover::after {
  bottom: -100px;
}

.poster-container::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    to top,
    black,
    rgba(255, 255, 255, 0.05) 30%
  );
  pointer-events: none;
  transition: .1s ease-in-out;
}

.poster-link {
  width: 100%;
}

.poster-link:hover img {
  transform: scale(1.05);
}

/* firefox doesnt support :has, so we can not put it in the same selector list */
.card:has(.title:hover) img {
  transform: scale(1.05);
}

.poster-link img {
  transition: .1s ease-in-out;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  max-width: 400px;
  background: rgba(255,255,255, 0.08);
  padding: 10px;
}

.card img {
  width: 100%;
  min-height: 450px;
  display: block;
  object-fit: cover;
}

.information {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;
}

.content {
  margin: 10px 0 16px;
}

a[target="_blank"]::after {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(70%, 30%);
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f14c";
  color: #efcd51;
}

.title {
  font-size: 20px;
  display: inline-block;
  margin-bottom: 6px;
  color: rgb(198, 198, 198);
  transition: .1s ease-in-out;
}

.title:hover,
.poster-container:hover + .information .title {
  color: rgb(230, 230, 230);
}

.calendar-icon, 
.year {
  font-size: 14px;
}

.logo-icon {
  font-size: 36px;
  color: #efcd51;
}

.primary-btn {
  color: whitesmoke;
  font-size: 18px;
  padding: 8px 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background: rgb(71, 71, 71);
  transition: .1s;
}

.primary-btn:hover {
  background: rgb(89, 89, 89);
}

.movie-page {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  margin-top: 24px;
}

.details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ratings {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
}

.ratings > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 10px;
}

.ratings > div > div {
  margin-top: 6px;
}

.subtitle {
  font-size: 14px;
  color: #bdbdbd;
}

.only-desktop {
  display: block;
}

@media only screen and (max-width: 767px) {
  .only-desktop {
    display: none;
  }
}
.only-mobile {
  display: none;
}

@media only screen and (max-width: 767px) {
  .only-mobile {
    display: block;
  }
}

.description {
  display: flex;
  gap: 16px;
  padding: 10px;
  border-radius: 8px;
  background: rgba(255,255,255, 0.08);
}

@media only screen and (max-width: 767px) {
  .description {
    flex-direction: column;
  }
}

.description img {
  border-radius: 6px;
  object-fit: contain;
  align-self: flex-start;
}

.description ul {
  list-style-type: none;
  margin: 10px 0;
}

.description li {
  margin-bottom: 4px;
  font-size: 14px;
}

.plot {
  margin: 10px 0;
  line-height: 1.6;
}

.movie-page i {
  padding-right: 4px;
}

/* Icons */
.fa-star {
  color: #ffff00;
}
.fa-apple-whole {
  color: #ff0000;
}

.fa-database {
color: #8b4513;
}

.fa-pen-nib {
color: #60c5e7;
}

.fa-video {
  color: lightgray;
}

.fa-clapperboard {
  color: rgb(200, 181, 181);
}

.fa-pen-to-square {
  color: lightseagreen;
}

.fa-masks-theater {
  color: rgb(209, 156, 110);
}

.fa-globe {
  color: rgb(92, 129, 239);
}

.fa-flag {
  color: palegoldenrod;
}

.fa-trophy  {
  color: gold;
}

.fa-compact-disc {
  color: rgb(57, 115, 174);
}

.fa-sack-dollar {
  color: green;
}

.swiper {
  width: 400px;
  height: 300px;
}
.swiper-wrapper {
  display: flex;
  gap: 30px;
}


