.card-component {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  max-width: 400px;
  background: var(--primary-bg-clr);
  padding: 10px;
  overflow: hidden;

  img {
    width: 100%;
    min-height: 480px;
    display: block;
    object-fit: cover;
  }

  .poster-wrapper {
    overflow: hidden;
    border-radius: 6px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-image: linear-gradient(
        to top,
        var(--zero-black),
        var(--secondary-overlay-bg-clr) 30%
      );
      pointer-events: none;
      transition: .1s ease-in-out;
    }
  
    &:hover {
      & + .information {
        .card-title {
          color: var(--secondary-text-clr-hover);
        }
      }

      &::after {
        bottom: -100px;
      }
    }

    .poster-link {
      width: 100%;

      img {
        transition: .1s ease-in-out;
      }

      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }
  }

  .information {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 1;
  
    .content {
      margin: 10px 0 16px;
  
      .card-title {
        font-size: 20px;
        display: inline-block;
        margin-bottom: 6px;
        color: var(--secondary-text-clr);
        transition: .1s ease-in-out;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        max-width: 90%;
      
        &:hover {
          color: var(--secondary-text-clr-hover);
        }
      }

      .calendar-icon,
      .year {
        font-size: 14px;
      }
    }
    
    .details {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo-icon {
        font-size: 36px;
        color: var(--accent-clr);
      }
    }
  }
} 


