.description-component {
  display: flex;
  gap: 1.4rem;
  border-radius: .8rem;
  background: var(--primary-bg-clr);
  padding: 1rem;

  @media only screen and (max-width: $tablet) {
    flex-direction: column;
  }

  img {
    border-radius: .6rem;
    object-fit: contain;
    align-self: flex-start;
  }

  ul {
    list-style-type: none;
    margin: 1rem 0;
  }

  li {
    margin-bottom: .4rem;
    font-size: 1.4rem;
  }

  .subtitle {
    font-size: 1.4rem;
    color: var(--faint-text-clr);
  }

  .plot {
    margin: 1rem 0;
    line-height: 1.6;
  }

  // Icons 
  .fa-pen-nib {
    color: var(--icon-teal);
  }

  .fa-video {
    color: var(--icon-white);
  }

  .fa-clapperboard {
    color: var(--icon-gray);
  }

  .fa-pen-to-square {
    color: var(--icon-turqoise);
  }

  .fa-masks-theater {
    color: var(--icon-peach);
  }

  .fa-globe {
    color: var(--icon-violet);
  }

  .fa-flag {
    color: var(--icon-pale);
  }

  .fa-trophy {
    color: var(--icon-orange);
  }

  .fa-compact-disc {
    color: var(--icon-blue);
  }

  .fa-sack-dollar {
    color: var(--icon-green);
  }

  i[class*="fa"] {
    // resizing the box model, not the icon itself
    // the icon itself it is set with `font-size`
    width: 1.8rem;
  }
}