.navigation-component {
  background: var(--primary-bg-clr);

  @media only screen and (max-width: $tablet) {
    width: 100%;
    position: fixed;
    z-index: 2;
  }

  .desktop, 
  .mobile {
    position: relative;
    padding-block: .6rem;
    display: flex;
    align-items: center;
    gap: .8rem;
  }

  .logo {
    display: block;
    max-width: 5rem;
  }

  .nav-links-desktop {
    display: flex;
    gap: .6rem;
    align-items: center;
    
    a {
      color: var(--secondary-text-clr);
      
      &:hover {
        color: var(--secondary-text-clr-hover);
      }
    }
  }

  .nav-links-mobile {
    background: red;
  }
}