.navigation-component {
  background: var(--primary-bg-clr);

  .navigation-container {
    margin: 0 auto;
    padding: 6px 20px;
    display: flex;
    align-items: center;
    gap: 6px;

    &.home-page {
      max-width: 1440px;
    }

    &.detail-page {
      max-width: 1100px;
    }
  }

  .logo {
    display: block;
    width: 50px;
  }

  .nav-links {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 6px;
    
    a {
      color: var(--secondary-text-clr);
      
      &:hover {
        color: var(--secondary-text-clr-hover);
      }
    }
  }

  .menu-nav-toggle {
    position: absolute;
    top: 2rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
  }

  .bar1, .bar2, .bar3 {
    height: 0.5rem;
    width: 2rem;
    background: red;
    border-radius: 0.2rem;
    transition: 0.4s;
  }
}