.ratings-component {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;

  @media (max-width: $mobile) {
    flex-direction: column;
    align-items: flex-start;
  }

  .source {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 1rem;

    @media (max-width: $mobile) {
      align-items: flex-start;
    }
  }
  
  .value {
    margin-top: .6rem;
  }

  .fa-star {
    color: var(--icon-yellow);
  }
  
  .fa-apple-whole {
    color: var(--icon-red);
  }
  
  .fa-database {
  color: var(--icon-brown);
  }
}